{% extends 'base.html.twig' %}

{% block title %}Fiche Jeu{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <style>
            .image-jeu {
                width: 200px;
                height: auto;
            }
        </style>
    {%  endblock %}
{% block body %}
    <h1>{{ jeu.nom }}</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_accueil', {'id': jeu.id}) }}">Modifier</a>

        <form method="post" action="{{ path('app_accueil', {'id': jeu.id}) }}" onsubmit="return confirm('Êtes-vous sûr ?');">
            <button class="btn btn-danger">Supprimer</button>
        </form>
    {% endif %}
{% endblock %}
