{% extends 'base.html.twig' %}

{% block title %}TP Noté 2026{% endblock %}

{% block body %}
<div>
    <h1>Bienvenue sur le TP Noté 2026 !</h1>
    <p>Ce projet est la base de votre rendu, vous devez modifier que ce qui est nécessaire et demandé par le sujet.</p>

    <p>
    <strong>Chaque sujet est différent, il est important de lire attentivement le sujet avant de commencer à coder.</strong>
    </p>
{% endblock %}
